html,
body {
    margin: 15px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(236, 235, 235) 
  }
  
  th {
    background-color: rgb(143, 143, 143);
    text-align: left;
    padding: 5px;
    color: white;
    height: 40px;
    font-size: 20px;
  }
  td {
    text-align: left;
    height: 45px;
    padding: 5px;
    font-size: 20px;
  }

  th, td {
    border-bottom: 10px solid #ffffff;
  }

  img {
    height: 65%;
    
  }

  .pointer-cursor {
    cursor: pointer;
  }

  .center-locatiton {
    text-align: center;
  }
  
  .container {

    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
  }

  .container-button {

    border-radius: 8px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    margin-bottom: 25px;

}
.archived-table {

    margin-top: 25px;
}

